<template>
  <v-container id="departament-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="6">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Contate-nos</div>
            <div class="subtitle-1 font-weight-light">Registro de contato no app</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="6" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="contact.name"
                    :counter="100"
                    label="Nome *"
                    hint="Informe seu nome"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="contact.email"
                    label="E-mail *"
                    hint="Informe seu endereço de e-mail"
                    :rules="[controller.service.rules.emailRules]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="contact.phone"
                    v-mask="controller.service.maskTel(contact.phone)"
                    placeholder="(99) 99999-9999 ou (99) 9999-9999"
                    :counter="15"
                    label="Telefone *"
                    hint="Informe um telefone de contato"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6" md="12">
                  <v-file-input
                    color="secondary"
                    v-model="contact.attachment"
                    show-size
                    accept=".doc, .doox, .pdf, .odt, .txt"
                    label="Anexe um arquivo *"
                    hint="Somente arquivos: pdf, doc, docx, odt e txt"
                    :rules="[
                      controller.service.rules.required,
                      controller.service.rules.maxSizeFile,
                    ]"
                  >
                  </v-file-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6" md="12">
                  <v-textarea
                    color="secondary"
                    v-model="contact.message"
                    :counter="255"
                    no-resize
                    rows="5"
                    label="Mensagem *"
                    hint="Escreva sua mensagem"
                    :rules="[
                      controller.service.rules.required,
                      controller.service.rules.minCaracterMessage,
                    ]"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import ContactController from "../../../app/controllers/ContactController";
export default {
  name: "contact-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    controller: new ContactController(),
    contact: new ContactController().contactModel(),
  }),
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    register() {
      this.loading = true;
      this.controller.register(this.contact).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Contato registrado com sucesso.";
          this.typeAlert = "info";
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao registrar contato.";
        }
        this.notification = true;
        this.loading = false;
        setTimeout(() => this.$router.replace({ name: "contacts" }), 2000);
      });
    },
  },
};
</script>
