<template>
  <v-container id="contacts" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Contatos</div>

            <div class="subtitle-1 font-weight-light">
              Listagem de contatos registrados
            </div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="1"> </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
            <v-col cols="2"> </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="contacts"
            :single-expand="true"
            :expanded.sync="expanded"
            show-expand
            :loading="loading"
            loading-text="Carregando..."
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">
                <b>Mensagem:</b> {{ item.message }} <br />
                <b>Anexo: </b
                ><a v-bind:href="item.attachment" download>clique para download</a>
              </td>
            </template>
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ContactController from "../../../app/controllers/ContactController";

export default {
  data: () => ({
    loading: false,
    dialogDelete: false,
    notification: false,
    search: "",
    contacts: [],
    expanded: [],
    controller: new ContactController(),
    headers: [
      {
        text: "Nome",
        value: "name",
      },
      {
        text: "E-mail",
        value: "email",
      },
      {
        text: "Telefone",
        value: "phone",
      },
      {
        text: "IP do remetente",
        value: "senders_ip",
      },
      {
        text: "Data de envio",
        value: "shipping_date",
      },
      {
        text: "Hora de envio",
        value: "shipping_time",
      },
    ],
  }),
  created() {
    this.getDataFromApi();
  },
  methods: {
    getDataFromApi() {
      this.loading = true;
      this.controller.getAll().then((response) => {
        for (let i = 0; i < response.data.length; i++) {
          var fullDate = response.data[i]["shipping_date"];
          response.data[i]["shipping_date"] = this.controller
            .contactModel()
            .formatDate(fullDate);
          response.data[i]["shipping_time"] = this.controller
            .contactModel()
            .formatHour(fullDate);
        }
        this.contacts = response.data;
      });
      this.loading = false;
    },
  },
};
</script>
